In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import random
import operator
from matplotlib.backends.backend_pdf import PdfPages

%matplotlib inline
df = pd.read_csv("./data/notas_merged.csv")

del df["NUMORD"]
del df["SUBTIPO"]
del df["CENTRO"]
del df["PLAN"]
del df["NOTA_BASE_4"]
categorical_columns = ["CURSO","ANOCON","MUNICIPIO","PROVINCIA","DESPLAN","GENERO"]

COLORS = ["red","blue","yellow","pink","purple","green"]
DESCRIPTIONS = {
    "CURSO": ["There are ", " students from the year "],
    "ANOCON": ["There are ", " students who graduated in "],
    "MUNICIPIO": ["There are ", " students from the municipality of"],
    "PROVINCIA": ["There are ", " students from the province of "],
    "DESPLAN": ["There are ", "students of the plan "],
    "GENERO": ["The are ", " students of gender "]
}

def write_pdf(fname, figures):
    doc = PdfPages(fname)
    for fig in figures:
        fig.savefig(doc, format='pdf')
    doc.close()
    
category_counts = {}
for c in categorical_columns:
    df[c] = df[c].astype("category")
    category_counts[c] = dict(df[c].value_counts() )

df = df.sort_values("CURSO")

In [2]:
df.head()

,CURSO,ANOCON,MUNICIPIO,PROVINCIA,NOTA_BASE_10,DESPLAN,GENERO
773,1993-94,1993-94S,MADRID,MADRID,6.24,45091 - INGENIERIA TECNICA EN INFORMATICA DE G...,M
772,1993-94,1993-94S,MADRID,MADRID,6.60,45091 - INGENIERIA TECNICA EN INFORMATICA DE G...,M
771,1993-94,1993-94S,MADRID,MADRID,7.34,45091 - INGENIERIA TECNICA EN INFORMATICA DE G...,H
260,1994-95,1994-95J,GETAFE,MADRID,6.84,45091 - INGENIERIA TECNICA EN INFORMATICA DE G...,M
278,1994-95,1994-95J,LEGANES,MADRID,5.90,45191 - INGENIERIA TECNICA EN INFORMATICA DE S...,M

In [28]:
#At this point we have  df, category_counts
def get_most_frequents(category_counts):
    """ Generates most frequent dictionary """
    category_counts_most_frequent = {}
    for c in category_counts:
        max_cat = max(category_counts[c].items(), key=operator.itemgetter(1))[0]
        print(max_cat)
        category_counts_most_frequent[c] = {
                max_cat : category_counts[c][max_cat]
        }
    return category_counts_most_frequent
    

def generate_grade_plot(X):
    """ Generates grade plot for a certain subgroup """
    return X.plot(kind='hist', y="NOTA_BASE_10",color=random.choice(COLORS))

def generate_grade_plots_2(X,c):
    """Generates grade plot for all categories in c"""
    plots = {}
    for cat in category_counts[c]:
        X_aux = X[X[c] == cat]
        plots[cat] = generate_grade_plot(X_aux)
    return plots

def generate_grade_plots(X):
    """Generates grade plot for all categorical cols in X"""
    plots = {}
    for c in categorical_columns:
        plots[c] = generate_grade_plots_2(X,c)
    return plots

def generate_category_count_pie(c):
    """Generates pie """
    fig = plt.figure()
    plt.pie([v for v in category_counts[c].values()], labels=[k for k in category_counts[c].keys()], autopct=None)
    return fig

def generate_category_count_bar(c):
    fig = plt.figure()
    plt.bar(range(len(category_counts[c])), list(category_counts[c].values()), align='center',color=random.choice(COLORS))
    plt.xticks(range(len(category_counts[c])), list(category_counts[c].keys()))
    return fig

def generate_category_counts_bar():
    plots = {}
    for c in categorical_columns:
        plots[c] = generate_category_count_pie(c)
    return plots
 
def generate_description(category_counts):
    report = ""
    for c in categorical_columns:
        for cat in category_counts[c]:
            report += DESCRIPTIONS[c][0] + str(category_counts[c][cat]) + DESCRIPTIONS[c][1] + str(cat) +". "
    return report

In [2]:
# for student and teacher, generate the "course" input vs the total. In case of the student, inform him of which grade was his
def generate_student_report(profile, X):
    plots = {}
    course = profile["CURSO"]
    
    X_course = X[X[c] == course]
    X_other = X[X[c] != course]
    
    plots_gradecmp_courses= [generate_grade_plot(X_course)*4]
    plots_gradecmp_all = [generate_grade_plot(X_other)*4]
    plots_dist_all = [generate_category_count_pie(X)*4]
    
    dn1 = "Your grade is " + profile["nota"] 
        + ". The median grade of your course is " + np.median(X_course["NOTA_BASE_10"]) 
        + " The median grade for other courses is around" + np.median(["NOTA_BASE_10"])
    dn2 =  "Your grade is " + profile["nota"] 
        + ". The median grade of your course is " + np.median(X_course["NOTA_BASE_10"]) 
    dn3 = "Your grade is " + profile["nota"] 
    dn4 = "The median grade of your course is " + np.median(X_course["NOTA_BASE_10"]) 
        + " The median grade for other courses is around" + np.median(["NOTA_BASE_10"])
    # optionally 
    return plots_gradecmp_courses, plots_gradecmp_all, plots_dist_all, [dn1,dn2,dn3,dn4]
    
def generate_teacher_report(profile): pass
    # use the simple ones, create each analyisis custom tailored
    # plot de todos = plot de todos. 
    # Descripcion de cuántos hay en el curso

def generate_delegate_report(profile): pass
    # for gender delegate, generate the "report" input vs total, highest and lowest year 
    #

In [1]:
student_profile = {
    "age": 20,
    "class": "student",
    "gender": "female",
    "description": "wants to know how its own grade (given) compares to the rest of the students in its course (given)",
    "curso": "2003-04"
}
teacher_profile = {
    "age": 48,
    "class": "teacher",
    "gender": "female",
    "description": "",
    "curso": "2003-04"
}
gender_delegate = {
    "age": 38,
    "class": "manager",
    "description": "wants to know how students of different gender have been performing over the years",
    "gender": "male"
}

AttributeError: 'AxesSubplot' object has no attribute 'show'

IndentationError: expected an indented block (<ipython-input-284-8a412fae3d67>, line 4)

In [ ]:
def save_report(report):pass #use write pdf
def load_reports_for_tourney(report):pass

In [268]:
def show_2_choose_1(reports): pass #self explanatory, keep eliminating them
    # okay here's the idea : when the cell is executed, we load a copy of the reports array.
    # then we show 2, then we can either left() or right() in the below cell;
    # this eliminates either the one showed in the left (saved as var left) or the one in the right
    
def save_tournament_results(): pass

,CURSO,ANOCON,MUNICIPIO,PROVINCIA,NOTA_BASE_4,NOTA_BASE_10,DESPLAN,GENERO
415,2003-04,2003-04J,MADRID,MADRID,3.26,9.26,45198 - INGENIERIA TECNICA EN INFORMATICA DE S...,H
414,2003-04,2003-04S,MADRID,MADRID,1.14,5.78,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,H
413,2003-04,2003-04S,ALCOBENDAS,MADRID,1.15,5.80,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,H
412,2003-04,2003-04F,MADRID,MADRID,1.16,5.82,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,H
411,2003-04,2003-04F,MADRID,MADRID,1.23,5.96,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,M
410,2003-04,2003-04J,SEGOVIA,SEGOVIA,1.27,6.04,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,M
409,2003-04,2003-04S,MADRID,MADRID,1.27,6.04,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,M
408,2003-04,2003-04F,LAS ROZAS DE MADRID,MADRID,1.29,6.08,45098 - INGENIERIA TECNICA EN INFORMATICA DE G...,H
418,2003-04,2003-04J,MADRID,MADRID,2.27,7.90,45198 - INGENIERIA TECNICA EN INFORMATICA DE S...,H
466,2003-04,2003-04S,MADRID,MADRID,1.33,6.16,45198 - INGENIERIA TECNICA EN INFORMATICA DE S...,H

'YlGn'

KeyError: 'CENTRO'